<!DOCTYPE html>
<html>

<head>
    <title>Nodejs app using express</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <form method="post" action="/user/add">
        <input name="NAME" value="" />
        <input name="E-MAIL" value="" />
        <button type="SUBMIT">Submit</button>
    </form>
</body>

</html>